*.py[co]
*~
*.egg-info/
build/
dist/

GTAGS
GRTAGS
GPATH
GSYMS
*.log
.venv/
.tox/
.coverage
covhtml/
coverage.xml
nosetests.xml

.github
.idea
ryu/app/distribution/*.ddslog
ryu/app/distribution/topo-*.json
ryu/app/distribution/zrddslicence.lic
ryu/app/distribution/graphs
ryu/app/distribution/ev_setting.json

ryu/app/mobility/taxi_february.txt
ryu/app/mobility/ev_setting.json
